.weeklyBook {
    width: 360px;
    height: auto;
}

#weeklysection {
    background-color: yellowgreen;
    height: 550px;
}

#weeklytitle {
    font-size: 60px;
    color: crimson;
}

#desc {
    font-size: 30px;
    color: tomato;
}